Repository SanDiegoCountySheriff/CSSA-CCW, pull requests merged in 2023-11, with the labels that each got.

#547 fix: Appointment time conflicts with UTC conversion
  API/CCW.Schedule/Services/CosmosDbService.cs
  UI/libs/core-admin/src/lib/components/templates/AppointmentTemplate.vue
Labels: main, UI, API

#548 Bug/3211 fix appointment deletion issues
  API/CCW.Schedule/Services/CosmosDbService.cs
  UI/libs/core-admin/src/lib/components/templates/AppointmentManagement.vue
Labels: main, UI, API

#549 Update CosmosDbService.cs
  API/CCW.Schedule/Services/CosmosDbService.cs
Labels: main, API

#550 Bug/convert utc frontend
  API/CCW.Schedule/Services/CosmosDbService.cs
  UI/libs/core-admin/src/lib/components/templates/AppointmentManagement.vue
  UI/libs/shared/ui/src/lib/stores/appointmentsStore.ts
Labels: main, UI, API

#552 Task/3200 remove physical description
  API/CCW.Application/Entities/PhysicalAppearance.cs
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/DemographicsTab.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PhysicalAppearanceStep.vue
  UI/libs/shared/ui/src/lib/components/info-sections/AppearanceInfoSection.vue
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#554 task: add admonishment to weapons tab
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/WorkInfoStep.vue
Labels: main, UI

#553 Task/3185 update bg check items
  API/CCW.Application/Entities/BackgroundCheck.cs
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#555 Feature/2915 public verbiage
  API/CCW.Document/Controllers/DocumentController.cs
  UI/apps/public/src/PublicApp.vue
  UI/libs/core-admin/src/lib/components/brand/steps/AssetsFormStep.vue
  UI/libs/core-public/src/lib/components/containers/MoreInformationConatainer.vue
  UI/libs/core-public/src/lib/components/containers/MoreInformationContainer.vue
  UI/libs/core-public/src/lib/components/dialogs/ContactDialog.vue
  UI/libs/core-public/src/lib/components/dialogs/PriceInfoDialog.vue
  UI/libs/core-public/src/lib/components/templates/PageTemplate.vue
  UI/libs/core-public/src/lib/components/wrappers/FormWrapper.vue
  UI/libs/core-public/src/lib/components/wrappers/GeneralInfoWrapper.vue
  UI/libs/core-public/src/lib/router/index.ts
  UI/libs/core-public/src/lib/views/ApplicationView.vue
  UI/libs/core-public/src/lib/views/HomeView.vue
  UI/libs/core-public/src/lib/views/MoreInformationView.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/components/footer/Footer.vue
  UI/libs/shared/ui/src/lib/locales/en.json
  UI/libs/shared/ui/src/lib/stores/brandStore.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#556 Task/3201 undo bg checklist
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
Labels: main, UI

#557 task: add waiting for customer application status
  API/CCW.Application/Enum/ApplicationStatus.cs
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard1.vue
  UI/libs/core-public/src/lib/views/ApplicationDetailView.vue
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#558 Don't allow application to be continued
  UI/libs/core-public/src/lib/views/ApplicationDetailView.vue
Labels: main, UI

#560 fix: formatted date
  API/CCW.Application/Controllers/PermitApplicationController.cs
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/shared/utils/src/lib/formatters/defaultFormatters.ts
Labels: main, UI, API

#561 Update QualifyingQuestionsStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/QualifyingQuestionsStep.vue
Labels: main, UI

#563 Update client side to display dashes in SSN
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
Labels: main, UI

#565 Update BackgroundCheckTab.vue
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
Labels: main, UI

#567 fix: convert payment info to decimals from whole numbers
  API/CCW.Common/Models/Cost.cs
  API/CCW.Common/Models/CostType.cs
  UI/libs/core-public/src/lib/components/containers/PaymentContainer.vue
  UI/libs/core-public/src/lib/components/dialogs/PriceInfoDialog.vue
  UI/libs/core-public/src/lib/components/wrappers/PaymentWrapper.vue
Labels: main, UI, API
