Repository SanDiegoCountySheriff/CSSA-CCW, pull requests merged in 2023-05, with the labels that each got.

#382 Feature/2567 appointment management
  API/CCW.Schedule/Controllers/AppointmentController.cs
  API/CCW.Schedule/Entities/AppointmentManagement.cs
  API/CCW.Schedule/Mappers/AppointmentManagementRequestModelToEntityMapper.cs
  API/CCW.Schedule/Models/AppointmentManagementRequestModel.cs
  API/CCW.Schedule/Program.cs
  API/CCW.Schedule/Properties/launchSettings.json
  API/CCW.Schedule/Services/CosmosDbService.cs
  API/CCW.Schedule/Services/ICosmosDbService.cs
  UI/libs/core-admin/src/lib/components/appointment/Appointments.vue
  UI/libs/core-admin/src/lib/components/appointment/Schedule.vue
  UI/libs/core-admin/src/lib/components/templates/AppointmentManagement.vue
  UI/libs/core-admin/src/lib/components/templates/AppointmentTemplate.vue
  UI/libs/core-admin/src/lib/router/index.ts
  UI/libs/core-admin/src/lib/router/routes.ts
  UI/libs/core-admin/src/lib/views/AppointmentManagementView.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/stores/appointmentsStore.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#384 feat: change 90 day countdown to manual process
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
Labels: main, UI

#386 Feature/2503 cii number input
  API/CCW.Application/Entities/Application.cs
  API/CCW.Application/Mappers/PermitApplicationToApplicationMapper.cs
  API/CCW.Application/Mappers/PermitRequestApplicationToApplicationMapper.cs
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#383 fix: removed saving unofficial license to server
  API/CCW.Application/Controllers/PermitApplicationController.cs
Labels: main, API

#388 Test/logging
  API/CCW.Document/Controllers/DocumentController.cs
Labels: main, API

#390 Feature/2572 manual schedule rework
  API/CCW.Application/Entities/Application.cs
  API/CCW.Schedule/Controllers/AppointmentController.cs
  API/CCW.Schedule/Entities/AppointmentManagement.cs
  API/CCW.Schedule/Entities/AppointmentWindow.cs
  API/CCW.Schedule/Mappers/AppointmentWindowCreateRequestModelToEntityMapper.cs
  API/CCW.Schedule/Mappers/AppointmentWindowUpdateRequestModelToEntityMapper.cs
  API/CCW.Schedule/Models/AppointmentManagementRequestModel.cs
  API/CCW.Schedule/Models/AppointmentWindowResponseModel.cs
  API/CCW.Schedule/Services/CosmosDbService.cs
  UI/libs/core-admin/src/lib/components/appointment/DateTimePicker.vue
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/core-admin/src/lib/components/templates/AppointmentTemplate.vue
  UI/libs/core-public/src/lib/views/FinalizeView.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/stores/appointmentsStore.ts
  UI/libs/shared/utils/src/lib/formatters/defaultFormatters.ts
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
  UI/package-lock.json
  UI/package.json
Labels: main, UI, API

#392 Admin: checklist update item names
  API/CCW.Application.Tests/MapperTests.cs
  API/CCW.Application/Entities/BackgroundCheck.cs
  API/CCW.Application/Mappers/PermitApplicationToBackgroundCheckMapper.cs
  API/CCW.Application/Mappers/RequestPermitApplicationToBackgroundCheckMapper.cs
  API/CCW.Application/Mappers/UserRequestPermitApplicationToBackgroundCheckMapper.cs
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#393 Remove fax number
  API/CCW.Application.Tests/MapperTests.cs
  API/CCW.Application/Entities/Contact.cs
  API/CCW.Application/Mappers/PermitApplicationToContactMapper.cs
  API/CCW.Application/Mappers/RequestPermitApplicationToContactMapper.cs
  API/CCW.Application/Mappers/UserRequestPermitApplicationToContactMapper.cs
  API/CCW.Application/Sample-Application.json
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/ContactInfoTab.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/ContactStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/RenewContactInfoStep.vue
  UI/libs/shared/ui/src/lib/components/info-sections/ContactInfoSection.vue
  UI/libs/shared/ui/tests/unit/components/info-sections/ContactInfoSection.spec.ts
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#394 Change question 15 hint
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/QualifyingQuestionsStep.vue
Labels: main, UI

#395 Change step "Citizenship" to "ID Information"
  UI/libs/core-public/src/lib/components/wrappers/FormWrapper.vue
  UI/libs/core-public/src/lib/components/wrappers/RenewFormWrapper.vue
Labels: main, UI

#396 Update IdBirthInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/IdBirthInfoStep.vue
Labels: main, UI

#397 Task/2590 move military status to personal info
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/IdBirthInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
Labels: main, UI

#398 Task/2598 move contact info to personal info step
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/ApplicationTypeStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/ContactStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/FileUploadStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/QualifyingQuestionsStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/SignatureStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/WorkInfoStep.vue
  UI/libs/core-public/src/lib/components/wrappers/FormWrapper.vue
Labels: main, UI

#399 Feature/2502 fill out livescan form
  API/CCW.Admin/Entities/AgencyProfileSettings.cs
  API/CCW.Admin/Mappers/AgencyProfileRequestSettingsModelToEntityMapper.cs
  API/CCW.Admin/Mappers/EntityToAgencyProfileSettingsResponseModelMapper.cs
  API/CCW.Admin/Models/AgencyProfileSettingsRequestModel.cs
  API/CCW.Admin/Models/AgencyProfileSettingsResponseModel.cs
  API/CCW.Admin/Program.cs
  API/CCW.Admin/Services/CosmosDbService.cs
  API/CCW.Application.Tests/MapperTests.cs
  API/CCW.Application/Clients/AdminServiceClient.cs
  API/CCW.Application/Clients/DocumentServiceClient.cs
  API/CCW.Application/Clients/IDocumentServiceClient.cs
  API/CCW.Application/Controllers/PermitApplicationController.cs
  API/CCW.Application/Entities/Alias.cs
  API/CCW.Application/Entities/WorkInformation.cs
  API/CCW.Application/Mappers/PermitApplicationToAliasMapper.cs
  API/CCW.Application/Mappers/PermitApplicationToWorkInformationMapper.cs
  API/CCW.Application/Mappers/RequestPermitApplicationToAliasMapper.cs
  API/CCW.Application/Mappers/RequestPermitApplicationToWorkInformationMapper.cs
  API/CCW.Application/Mappers/UserRequestPermitApplicationToAliasMapper.cs
  API/CCW.Application/Mappers/UserRequestPermitApplicationToWorkInformationMapper.cs
  API/CCW.Application/Models/AgencyProfileSettingsModel.cs
  API/CCW.Application/appsettings.Development.json
  UI/libs/core-admin/src/lib/components/brand/steps/AgencyFormStep.vue
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/core-admin/src/lib/stores/permitsStore.ts
  UI/libs/core-admin/src/lib/types/index.ts
  UI/libs/core-public/src/lib/components/containers/MoreInformationConatainer.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/stores/brandStore.ts
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#401 feat: added loading indicators to printpdf
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
Labels: main, UI

#402 Feat/2596 format phone numbers to include dashes
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
  UI/libs/shared/ui/src/lib/rule-sets/ruleSets.ts
Labels: main, UI
