Repository SanDiegoCountySheriff/CSSA-CCW, pull requests merged in 2023-07, with the labels that each got.

#438 Move physical appearance to personal info step
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/ApplicationTypeStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/FileUploadStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/QualifyingQuestionsStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/SignatureStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/WorkInfoStep.vue
  UI/libs/core-public/src/lib/components/wrappers/FormWrapper.vue
Labels: main, UI

#439 Bug/2651 public reschedule
  API/CCW.Application/Entities/SummarizedPermitApplication.cs
  API/CCW.Schedule/Controllers/AppointmentController.cs
  API/CCW.Schedule/Entities/AppointmentWindow.cs
  API/CCW.Schedule/Models/AppointmentWindowCreateRequestModel.cs
  API/CCW.Schedule/Models/AppointmentWindowResponseModel.cs
  API/CCW.Schedule/Models/AppointmentWindowUpdateRequestModel.cs
  API/CCW.Schedule/Profiles/ScheduleAutoMapperProfiles.cs
  API/CCW.Schedule/Services/CosmosDbService.cs
  API/CCW.Schedule/Services/ICosmosDbService.cs
  UI/libs/core-admin/src/lib/components/appointment/Schedule.vue
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/core-admin/src/lib/stores/permitsStore.ts
  UI/libs/core-public/src/lib/components/containers/AppointmentContainer.vue
  UI/libs/core-public/src/lib/views/ApplicationDetailView.vue
  UI/libs/core-public/src/lib/views/FinalizeView.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/stores/appointmentsStore.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#440 Add validation to signature step continue button
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/SignatureStep.vue
  UI/libs/shared/ui/src/lib/components/containers/FormButtonContainer.vue
Labels: main, UI

#441 Feat/2649 allow multiple application assignment
  API/CCW.Application/Controllers/PermitApplicationController.cs
  API/CCW.Application/Entities/Address.cs
  API/CCW.Application/Services/CosmosDbService.cs
  API/CCW.Application/Services/ICosmosDbService.cs
  UI/libs/core-admin/src/lib/components/appointment/Appointments.vue
  UI/libs/core-admin/src/lib/components/permits/Permits.vue
  UI/libs/core-admin/src/lib/stores/permitsStore.ts
  UI/libs/shared/ui/src/lib/api/endpoints.ts
Labels: main, UI, API

#442 bug: fix baseURL
  API/CCW.Application/appsettings.Development.json
Labels: main, API

#443 Bug/2696 all printout bug fixes
  API/CCW.Application/Controllers/PermitApplicationController.cs
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
Labels: main, UI, API

#445 fix: moved history back to the back end and added refresh button to h…
  API/CCW.Application/Controllers/PermitApplicationController.cs
  API/CCW.Application/Models/HistoryResponseModel.cs
  API/CCW.Application/Profiles/AutoMapperProfiles.cs
  API/CCW.Application/Services/CosmosDbService.cs
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/HistoryTab.vue
  UI/libs/core-admin/src/lib/stores/permitsStore.ts
Labels: main, UI, API
