Repository SanDiegoCountySheriff/CSSA-CCW, pull requests merged in 2024-02, with the labels that each got.

#579 Task/3253 update forms
  API/CCW.Application/Constants.cs
  API/CCW.Application/Controllers/PermitApplicationController.cs
  API/CCW.Application/Services/Contracts/IPdfService.cs
  API/CCW.Application/Services/PdfService.cs
  API/CCW.Common/Models/Application.cs
  API/CCW.Common/Models/BackgroundCheck.cs
  API/CCW.Common/Models/DenialInfo.cs
  API/CCW.Common/Models/IdInfo.cs
  API/CCW.Common/Models/LiveScanInfo.cs
  API/CCW.Common/Models/RevocationInfo.cs
  UI/libs/core-admin/src/lib/components/dialogs/DenialDialog.vue
  UI/libs/core-admin/src/lib/components/dialogs/RevocationDialog.vue
  UI/libs/core-admin/src/lib/components/dialogs/RevokeCancelDeniedDialog.vue
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard1.vue
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/BackgroundCheckTab.vue
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/ContactInfoTab.vue
  UI/libs/core-admin/src/lib/stores/permitsStore.ts
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/IdBirthInfoStep.vue
  UI/libs/shared/ui/src/lib/components/info-sections/CharacterReferenceInfoSection.vue
  UI/libs/shared/ui/src/lib/components/info-sections/IdInfoSection.vue
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
  UI/libs/shared/utils/src/lib/types/defaultTypes.ts
Labels: main, UI, API

#580 Bug/2476 admin signature dark mode UI
  UI/libs/core-admin/src/lib/components/header/Header.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/SignatureStep.vue
  UI/libs/core-public/src/lib/components/wrappers/FormWrapper.vue
  UI/libs/core-public/src/lib/views/ApplicationDetailView.vue
  UI/libs/shared/ui/src/lib/components/containers/FormButtonContainer.vue
Labels: main, UI

#582 fix: map to user application to fix null values
  API/CCW.Common/Models/UserApplication.cs
Labels: main, API

#578 Feat/3263 admin settings
  API/CCW.Application/Controllers/PermitApplicationController.cs
  API/CCW.Application/Services/DocumentAzureStorage.cs
  API/CCW.Application/appsettings.Development.json
  API/CCW.Document/Controllers/DocumentController.cs
  API/CCW.Document/Services/AzureStorage.cs
  API/CCW.Document/Services/IAzureStorage.cs
  UI/apps/admin/src/AdminApp.vue
  UI/apps/public/src/PublicApp.vue
  UI/libs/core-admin/src/lib/components/brand/BrandForm.vue
  UI/libs/core-admin/src/lib/components/brand/steps/AgencyFormStep.vue
  UI/libs/core-admin/src/lib/components/brand/steps/AssetsFormStep.vue
  UI/libs/core-admin/src/lib/components/brand/steps/ColorSchemeFormStep.vue
  UI/libs/core-admin/src/lib/components/brand/steps/ConfigurationFormStep.vue
  UI/libs/core-admin/src/lib/components/brand/steps/DocumentFormStep.vue
  UI/libs/core-admin/src/lib/components/brand/steps/FeesFormStep.vue
  UI/libs/core-admin/src/lib/components/header/Header.vue
  UI/libs/core-admin/src/lib/components/navigation/SideBar.vue
  UI/libs/core-admin/src/lib/components/templates/PageTemplate.vue
  UI/libs/core-admin/src/lib/stores/documentsStore.ts
  UI/libs/core-admin/src/lib/types/index.ts
  UI/libs/core-public/src/lib/components/containers/FormContainer.vue
  UI/libs/core-public/src/lib/components/containers/MoreInformationContainer.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/AddressInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/ApplicationTypeStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/FileUploadStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/IdBirthInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/PersonalInfoStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/QualifyingQuestionsStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/SignatureStep.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/WorkInfoStep.vue
  UI/libs/core-public/src/lib/components/wrappers/FormWrapper.vue
  UI/libs/core-public/src/lib/views/HomeView.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/components/footer/Footer.vue
  UI/libs/shared/ui/src/lib/components/info-sections/SignatureInfoSection.vue
  UI/libs/shared/ui/src/lib/composables/useTanstack.ts
  UI/libs/shared/ui/src/lib/stores/brandStore.ts
  UI/libs/shared/ui/src/lib/stores/completeApplication.ts
Labels: main, UI, API

#581 fix: don't display past appointments to public
  API/CCW.Schedule/Controllers/AppointmentController.cs
  API/CCW.Schedule/Services/AppointmentCosmosDbService.cs
  API/CCW.Schedule/Services/Contracts/IAppointmentCosmosDbService.cs
  UI/libs/core-admin/src/lib/components/appointment/Schedule.vue
  UI/libs/core-admin/src/lib/components/templates/AppointmentManagement.vue
  UI/libs/core-public/src/lib/components/containers/ApplicationStatusContainer.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/SignatureStep.vue
  UI/libs/core-public/src/lib/views/ApplicationDetailView.vue
  UI/libs/core-public/src/lib/views/FinalizeView.vue
  UI/libs/shared/ui/src/lib/stores/appointmentsStore.ts
Labels: main, UI, API

#584 update submission confirmation to use agency name
  UI/libs/core-public/src/lib/views/RecieptView.vue
Labels: main, UI

#585 Bug/3298 appointment creation
  API/CCW.Schedule/Controllers/AppointmentController.cs
  API/CCW.Schedule/Entities/AppointmentManagement.cs
  API/CCW.Schedule/Program.cs
  API/CCW.Schedule/Services/AppointmentCosmosDbService.cs
  API/CCW.Schedule/Services/Contracts/IAppointmentCosmosDbService.cs
  API/CCW.Schedule/appsettings.Development.json
  UI/libs/core-admin/src/lib/components/templates/AppointmentManagement.vue
  UI/libs/core-admin/src/lib/components/templates/AppointmentTemplate.vue
  UI/libs/core-admin/src/lib/components/templates/HolidayManagement.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
  UI/libs/shared/ui/src/lib/stores/appointmentsStore.ts
Labels: main, UI, API

#586 Task/2903 drag and drop documents
  API/CCW.Document/Controllers/DocumentController.cs
  API/CCW.Document/Services/AzureStorage.cs
  API/CCW.Document/Services/IAzureStorage.cs
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/AttachedDocumentsTab.vue
  UI/libs/core-public/src/lib/components/containers/FileUploadContainer.vue
  UI/libs/core-public/src/lib/components/form-stepper/form-steps/FileUploadStep.vue
  UI/libs/shared/ui/src/lib/api/endpoints.ts
Labels: main, UI, API

#587 Update admin document values
  API/CCW.Application/Services/PdfService.cs
  UI/libs/core-admin/src/lib/components/permits/permit-cards/PermitCard2.vue
  UI/libs/core-admin/src/lib/components/permits/permit-detail/tabs/AttachedDocumentsTab.vue
  UI/libs/core-admin/src/lib/stores/documentsStore.ts
  UI/libs/shared/ui/src/lib/components/dialogs/FileUploadDialog.vue
  UI/libs/shared/utils/src/lib/lists/defaultConstants.ts
Labels: main, UI, API

#588 Feat/marketplace package
  API/CCW.Application/appsettings.Development.json
  Deployment/IaC/Marketplace/createUiDefinition.json
  Deployment/IaC/Marketplace/mainTemplate.json
  UI/libs/core-admin/src/lib/components/brand/steps/DocumentFormStep.vue
Labels: main, UI, IaC, API
